<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crud App</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/" class="nav-brandtext-dark">User Management System</a>
          </div>
        </div>
      </nav>
    </header>
    <!-- /Header -->
    <main id="site-main">
      <div class="container">
          <div class="box-nav d-flex justify-between">
              <a href="/add-user" class="border-shadow">
                  <span class="text-gradient">New User <i class="fas fa-user"></i> </span>
              </a>
          </div>
  
          <!-- form handling -->
          <form action="/" method="post">
              <table class="table">
                  <thead class="thead-dark">
                      <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>@Email</th>
                          <th>Gender</th>
                          <th>Status</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                       
                  </tbody>
              </table>
          </form>
  </main>

    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex justify-between">
          <div class="filter">
            <a href="/">
              <i class="fas fa-angle-double-left"></i>
              All Users
            </a>
          </div>
        </div>
        <div class="form-title text-center">
          <h2 class="text-dark">New User</h2>
          <span class="text-light"
            >Use the below form to create a new account</span
          >
        </div>

        <!-- add user form -->
        <!--Form handling-->
        <form action="/api/users" method="post" id="add_user">
          <div class="new_user">
            <div class="form-group">
              <label for="name" class="text-light">Name</label>
              <input type="hidden" name="id" value="" />
              <input type="text" name="name" value="" placeholder="Dorcas D" />
            </div>
            <div class="form-group">
              <label for="email" class="text-light">Email</label>
              <input
                type="email"
                name="email"
                value=""
                placeholder="example@gmail.com"
              />
            </div>
            <div class="form-group">
              <label for="gender" class="text-light">Gender</label>
              <div class="radio inline">
                <input type="radio" name="gender" id="radio-2" value="Male" />
                <label for="radio-2" class="radio-label">Male</label>
              </div>
              <div class="radio inline">
                <input type="radio" name="gender" id="radio-3" value="Female" />
                <label for="radio-3" class="radio-label">Female</label>
              </div>
            </div>
            <div class="form-group">
              <label for="status" class="text-light">Status</label>
              <div class="radio inline">
                <input type="radio" name="status" id="radio-4" value="Active" />
                <label for="radio-4" class="radio-label">Active</label>
              </div>
              <div class="radio inline">
                <input
                  type="radio"
                  name="status"
                  id="radio-5"
                  value="Inactive"
                />
                <label for="radio-5" class="radio-label">Inactive</label>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn text-dark update">Save</button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script src="/js/index.js"></script>
  </body>
</html>
